[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bdfparser = "*"
pillow = "*"

[dev-packages]
pipenv-setup = "*"
vistir = "<0.7.0"

[requires]
python_version = "3.12"

[scripts]
setup-sync = "pipenv run pipenv-setup sync --pipfile"
install = "pip install --force-reinstall -e ."
